@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Montserrat:wght@400;700&family=Nunito&display=swap');

:root{
    --yellow-color:  #facc15;
}

body{
    margin: 0;
    font-family: 'Grape Nuts', cursive;
}

.nav{
    height: 11vh;
    background-color: var(--yellow-color);
    
}
.nav-heading{
    text-align: center;
    margin: 0;
    font-size: 30px;
    padding: 1rem 0;
}

.input-text{
    height: 15vh;
    width: 50%;
    border: solid black 1px;
    display: block;
    margin: auto;
    margin-top: 2rem;
}
.btn-translate{
    margin-top: 1rem;
    font-family: 'Grape Nuts', cursive;
    padding: 1rem 3rem;
    font-size: 20px;
    font-weight: bolder;
    background-color: var(--yellow-color);
    border: var(--yellow-color) ;
}

.btn-div{
    display: block;
    margin: auto;
    width: 50%;
}

.output-header{
    margin-top: 5px;
    margin-bottom: 0.5rem;
}

.output-div{
    height: 10vh;
    width: 50%;
    border: solid black 1px;
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    overflow: scroll;
}

.footer{
    margin-top: 5.5rem;
    background-color: var(--yellow-color);
    position: relative;
    bottom: 0;
    height: 23vh;
   
}

.footer .footer-header{
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 0;
}

.footer-para{
    font-weight: bold;
    text-align: center;
    margin: auto;
    max-width: 500px;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    
}

